UWPClient/Connected Services/WCFBackgroundService/wcfbackgroundService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/LocalService/wcfbackgroundService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.ServiceProcess" />
  <xs:element name="StartService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.ServiceProcess" minOccurs="0" name="StartServiceResult" type="q1:ServiceControllerStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.ServiceProcess" minOccurs="0" name="StopServiceResult" type="q2:ServiceControllerStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.ServiceProcess" minOccurs="0" name="GetServiceStatusResult" type="q3:ServiceControllerStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>